.subtitle {
  color: var(--very-light-pink);
  font-size: var(--md);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}
.email-image {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-color: var(--text-input-field);
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 24px;
}
.email-image img {
  width: 80px;
}
.resend {
  text-align: center;
  font-size: var(--sm);
}
.resend span {
  font-size: var(--md);
  color: var(--very-light-pink);
}
.resend a {
  color: var(--coral);
  font-size: var(--sm);
  text-align: center;
  text-decoration: none;
  margin-bottom: 22px;
  font-weight: 800;
  &:hover {
    color: var(--coral-hover);
  }
}

.novisible {
  display: none !important;
}
